---
import Hero from "../components/hero.astro";
import Features from "../components/features.astro";
import Team from "../components/team.astro";
import Reviews from "../components/reviews.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Hero />
		<Features />
		<Team />
		<Reviews />
	</body>
</html>

<audio id="myAudio">
  <source src="/public/audio/bg_audio.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<script>
	// Get a reference to your audio element
	const audio = document.getElementById('myAudio') as HTMLAudioElement;

	// Function to play the audio
	const playAudio = () => {
		audio.play();
	}

	// Check if user has scrolled to a certain amount (e.g., 100 pixels)
	window.addEventListener('scroll', () => {
  // Check if the user has scrolled a certain amount (e.g., 100 pixels)
  if (window.scrollY > 100) {
    // Call the playAudio function to start playing the audio
    playAudio();
  }
});
</script>


<style>
	@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

	:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #66B7AD;
    --primaryLight: #7EDED2;
    --secondary: #7EDED2;
    --secondaryLight: #7EDED2;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    margin: 0;
    padding: 0;
		font-family: "Quantico", sans-serif;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}

.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}
                            
</style>